.editor-container {
  display: flex;
  height: 100vh;
}

.sprites-section {
  width: 20%;
  background-color: #f0f0f0;
  padding: 10px;
}

.map-editor-section {
  width: 80%;
  padding: 10px;
  background-color: #fff;
}
